<!DOCTYPE html>
<html>
<head>
    <title>All Reversed IPs</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="center">
        <h1>All Reversed IPs</h1>
        <table>
            {% for reversed_ip in reversed_ips %}
                <tr>
                    <td>{{ reversed_ip }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="/" class="button">Go Back</a>
    </div>
    <canvas id="bubbles"></canvas>
    <script src="/static/bubbles.js"></script>
</body>
</html>
