<!DOCTYPE html>
<html>
<head>
    <title>IP Reverser - All IPs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/Bubbles.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>All Reversed IPs</h1>
        <table>
            <thead>
                <tr>
                    <th>Reversed IP</th>
                </tr>
            </thead>
            <tbody>
                {% for ip in reversed_ips %}
                <tr>
                    <td>{{ ip }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
